* {
  box-sizing: border-box;
}
body {
  margin-inline: 10px;
  padding: 0;
  font-family: poppins, sans-serif;
}
.no-overflow {
  overflow: hidden;
}
.display-none {
  display: none !important;
}
.menu-backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
