.gallery-layout {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
}
.editor-layout {
  display: grid;
  grid-template-columns: 20px 1fr 1fr 20px;
  justify-items: center;
  gap: 20px;
}

.imgs-layout {
  display: grid;
  place-content: center start;
  grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
  gap: 10px;
}
