.search {
  width: 30.26vw;
  height: 5vh;
  margin-block: 5vh;
}

.gallery-img {
  width: 150px;
  aspect-ratio: 1/1;
  border: 3px solid transparent;
  border-radius: 10px;
  margin: 0;
}
.saved-meme-gallery-headers {
  display: inline-block;
}

.selected-img {
  border-color: #21ac91;
}
