.about-backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal {
  position: absolute;
  left: 20%;
  top: 20%;
  height: 60%;
  width: 60%;
  border: 2px solid white;
  border-radius: 20px;
  background-color: #22252c;
  color: white;
  text-align: center;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block-end: 30px;
}

.modal-btn {
  background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
  border: 2px solid white;
  border-radius: 20px;
  color: white;
}
