@media (max-width: 391px) {
  .btn-toggle-menu {
    display: inline-block !important;
  }
  .navbar {
    position: fixed;
    width: 100%;
    top: 75px;
    left: 0;
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid 1s;
    align-items: end;
    margin-inline: 5%;
    display: none;
  }
  body.menu-open .navbar {
    display: grid;
    border-top: 2px solid #606060;
    transition: grid 1s;
    grid-template-rows: 1fr;
    background-color: #15161a;
    align-items: center;
  }
  body.menu-open .navbar li {
    align-items: center;
    text-align: center;
  }
  body.menu-open .toggle-dark-mode {
    margin-block: 10px;
  }

  .search {
    height: 40px;
    width: 190px;
  }

  .modal {
    width: 70%;
    font-size: 15px;
  }

  .editor {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 1fr 1fr 20px;
    gap: 20px 0px;
    justify-items: center;
    align-items: center;
    margin-block: 0;
    margin-inline: 0;
  }
  .canvas-container {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    margin-block-end: 30px;
  }
  .controller-container {
    width: 92vw;
    height: 45vh;
    grid-column: 1;
    grid-row: 3;
    justify-self: left;
    align-self: baseline;
    padding-block: 10px;
    margin-inline-end: 5px;
  }
  .editor-section {
    padding-block: 10px;
  }
}

@media only screen and (min-width: 390px) and (max-width: 690px) {
  .btn-toggle-menu {
    display: inline-block !important;
  }
  .navbar {
    position: fixed;
    width: 85%;
    top: 75px;
    left: 0;
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid 1s;
    align-items: end;
    margin-inline: 5%;
    display: none;
  }
  body.menu-open .navbar {
    display: grid;
    border-top: 2px solid #606060;
    transition: grid 1s;
    grid-template-rows: 1fr;
    background-color: #15161a;
    align-items: center;
  }
  body.menu-open .navbar li {
    align-items: center;
    text-align: center;
  }
  body.menu-open .toggle-dark-mode {
    margin-block: 10px;
  }

  .search {
    height: 40px;
    width: 190px;
  }

  .modal {
    width: 70%;
    font-size: 15px;
  }

  .editor {
    display: block;
    margin-block-start: 25px;
    margin-inline-start: 0;
  }
  .canvas-container {
    margin-inline: auto;
    margin-block-end: 30px;
  }
  .controller-container {
    width: 82vw;
    height: 43vh;
    margin-inline: auto;
  }
  .editor-section {
    padding-block: 10px;
  }
}
@media (min-width: 691px) {
  .controller-container {
    width: 45vw;
    height: 42vh;
    margin-inline: auto;
  }
}
